nav {
    background: linear-gradient(#1f1f1f 60%, #ffffff00);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .options {
    align-items: center;
    display: flex;
    align-items: left;
  }

  a {
    font-size: 16px;
    margin-right: 6px;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    color: #dc1a28;
  }
  
  a:hover {
      color: whitesmoke;
  }

  img {
    max-width: 140px;
    padding: 5px;
   
  }

  button {
    
    color: whitesmoke;
    font-size: 15px;
    background-color: hsl(356, 79%, 48%);
    border: none;
    border-radius: 6px;
    font: inherit;
    padding: 6px;
    font-weight: 800;
    cursor: pointer;
    margin-right: 7px;
  }
}
